<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error handling</title>
    {% load static %}
    <link rel="stylesheet" href= "{% static 'management/styles.css' %}">
</head>
<body>

    {% if error %}
        <h3 style="text-align: center; background-color: #64f5ad"> {{ error }} </h3>
    {% endif %}

    <div style="text-align: center"><a href="http://127.0.0.1:8000/management/"> Retornar al index</a></div>

</body>
</html>